<div class="submenu">
	<chief-table 
		records="users" 
		headers="headers" 
		select-record="setSelectedUser(selectedRecord)" 
		selected-record="selectedUser" 
		add-record="openNewUser()" 
		button-text="buttonText" 
		column-count=4>
	</chief-table>
	
	<div class="detailsColomn col-xs-10 col-xs-offset-2" ng-show="selectedUser">
		<tabset>
			<tab>
				<tab-heading>Details</tab-heading>
				<form class="col-xs-7 no-padding">
					<!-- <table class="table detailTable"><tr><td>{{selectedUser}}:</td></tr></table> -->
					<table class="table detailTable">
						<tr>
							<td >{{"id" | translate }}:</td>
							<td class="locked">{{ selectedUser.id || "none" | translate }}</td>
						</tr>
						<tr>
							<td>{{"username" | translate }}:</td>
							<td class="locked">{{ selectedUser.name }}</td>
						</tr>
						<tr>
							<td>{{"email" | translate }}:</td>
							<td class="unlocked">
								<input type="email" class="editBox" ng-model="selectedUser.email" ng-blur="updateUser();" 
								placeholder="<{{'no' | translate}} {{selectedUser.email || 'email' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"fullname" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedUser.fullName" ng-blur="updateUser();" 
								placeholder="<{{'no' | translate}} {{selectedUser.fullName || 'fullname' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"description" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedUser.description" ng-blur="updateUser();" 
								placeholder="<{{'no' | translate}} {{selectedUser.description || 'description' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"lastlogindate" | translate }}:</td>
							<td class="locked">{{ selectedUser.lastLoginDate || 'none' | translate }}</td>
						</tr>
						<tr>
							<td>{{"creationdate" | translate }}:</td>
							<td class="locked">{{ selectedUser.creationdate || 'none' | translate }}</td>
						</tr>
						<tr>
							<td>{{"activationdate" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedUser.activationDate" ng-value="selectedUser.getActivationDate()" ng-blur="updateUser();" 
								placeholder="<{{'no' | translate}} {{selectedUser.activationDate || 'activationdate' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"deactivationdate" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedUser.deactivationDate" ng-blur="updateUser();" 
								placeholder="<{{'no' | translate}} {{selectedUser.deactivationDate || 'deactivationdate' | translate}}>"></input>
							</td>
						</tr>
					</table>
				</form>
				<form class="col-xs-3 col-xs-offset-1 no-padding">
					<table class="table detailTable table2" ng-show="selectedUser.id >= 0">
						<tr>
							<td class="unlocked">
								<input type="password" class="newPasswordBox" ng-model="pass.A" placeholder="<{{'newpassword' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td class="unlocked">
								<input type="password" class="newPasswordBox" ng-model="pass.B" placeholder="<{{'repeatnewpassword' | translate}}>"></input>
							</td>
						</tr>
					</table>
					<div class="col-xs-12 no-padding" ng-show="selectedUser.id >= 0">
						<button class="btn btn-1 btn-1a detailBtn" ng-click="resetPassword(pass.A, pass.B);">{{"resetpassword" | translate}}</button>
						<button class="btn btn-1 btn-1a detailBtn" ng-click="deleteUser()">{{"delete" | translate}}</button>
					</div>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"roles" | translate}}</tab-heading>
				<div class="col-xs-8 no-padding">
					<table class="detailTableChecker">
						<tr><th colspan="2"><h3 class="white">{{"notactive" | translate}}</h3></th></tr>
						<tr ng-repeat="role in roles" ng-show="!selectedUser.hasRole(role.id)">
							<td class="toggleCheckbox">
								<section><div class="checkboxThree">
									<input 
										type="checkbox"
										id="{{ role }}"
										data-ng-checked="selectedUser.hasRole(role.id)" 
										ng-click="selectedUser.toggleRole(role.id)"
									/>
									<label for="{{ role }}" ng-style="checked"></label>
								</div></section>
							</td>
							<td class="locked"><p class="white checkboxtop">{{ role.name }}</p></td>
						</tr>
					</table>
					<table class="detailTableChecker">
						<tr><th colspan="2"><h3 class="white">{{"active" | translate}}</h3></th></tr>
						<tr ng-repeat="role in roles" ng-show="selectedUser.hasRole(role.id)">
							<td class="toggleCheckbox">
								<section><div class="checkboxThree selected">
									<input 
										type="checkbox"
										id="{{ role }}"
										data-ng-checked="selectedUser.hasRole(role.id)" 
										ng-click="selectedUser.toggleRole(role.id)"
									/>
									<label for="{{ role }}" ng-style="checked"></label>
								</div></section>
							</td>
							<td class="locked"><p class="white checkboxtop">{{ role.name }}</p></td>
						</tr>
					</table>
				</div>
			</tab>
		</tabset>
	</div>
</div>
<form class="AddNewModalView md-col-8 col-xs-offset-2" ng-show="addNewUserView" ng-submit="saveNewUser()">
	<h3 class="no-padding">{{"new" | translate}} {{"user" | translate}}</h3>
	<p class="text white">* {{"required" | translate}}</p>
	<table class="addNewTable md-col-6">
		<tr class="md-col-6">
			<td>* {{"username" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedUser.name" required></td>
		</tr>
		<!--<tr>
			<td>* {{"password" | translate }}:</td>
			<td><input type="password" class="editBox" ng-model="selectedUser.password" required></input></td>
		</tr>-->
		<tr>
			<td>* {{"email" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedUser.email" required></input></td>
		</tr>
		<tr>
			<td>{{"fullname" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedUser.fullName"></input></td>
		</tr>
		<tr>
			<td>{{"description" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedUser.description"></input></td>
		</tr>
		<tr>
			<td>{{"deactivationdate" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedUser.deactivationDate" placeholder="{{selectedUser.deactivationDate || 'none' | translate}}"></td>
		</tr>
	</table>
	<div class="col-xs-3 col-md-offset-1">
		<button class="btn btn-1 btn-1a menuBtn" type="submit">{{"save" | translate}}</button>
		<button class="btn btn-1 btn-1a menuBtn" ng-click="cancelNewUser()">{{"cancel" | translate}}</button>
	</div>
</form>