
.resultsTable{
	color: $white;
}

.resultsTable tr td{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 50px;
}

.buttonContainer{
	display: block;
	float: left;
}

.AddNewModalView{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	background-color: $backgroundColor;
	z-index: 2;
}

.addNewTable{
	color: $white;
}

.addNewTable tr td{
	padding-right: 40px;
	padding-top: 5px;
}

.table.detailTable {

}

.table.detailTable > tbody > tr > td{
	border: none;
}

.table.detailTable > tbody > tr > td.locked {
	color: $hoverColor;
	font-style: italic;
}

.table.detailTable > tbody > tr > td.unlocked {
	padding: 0;
	color: $white;
}

.listBox{
	width: 30px;
}

.detailTableChecker{
	width: 50%;
	float: left;
}

.detailTableChecker > tbody > tr > td{
	border: none;
}

.detailTableChecker > tbody > tr > td.locked{
	color: $hoverColor;
	font-style: italic;
}

.detailTableChecker > tbody > tr > td.unlocked{
	padding: 0;
	color: $white;
}

.editBox{
	width: 100%;
	height: 31px;
	color: $white;
	background-color: $backgroundColor;
	border: 1px solid $hoverColor;
	padding-left: 10px;
	margin-bottom: 5px;
}

.lockedEditBox{
	width: 100%;
	height: 100%;
	color: $hoverColor;
	background-color: $backgroundColor;
	border: 1px solid $hoverColor;
	padding-left: 10px;
	margin-left: -7px;
	margin-bottom: -5px;
}

.newPasswordBox{
	width: 100%;
	height: 31px;
	color: $white;
	background-color: $backgroundColor;
	border: 1px solid $hoverColor;
	padding-left: 10px;
	margin-bottom: 5px;
}

.table2{
	margin-top: 70px;

}