.cm-s-lesser-dark.CodeMirror { 
	background: $backgroundColor;
	border-bottom: 1px solid $hoverColor;
	border-right: 1px solid $hoverColor;
}

.cm-s-lesser-dark .CodeMirror-gutters { 
	background: $backgroundColor; 
	border-left: 1px solid $hoverColor;
	border-right: 1px solid $hoverColor;
	color: $hoverColor;
}