<div class="submenu">
	<chief-table records="worklists" headers="headers" select-record="setSelectedWorklist(selectedRecord)" selected-record="selectedWorklist" add-record="openNewWorklist()" button-text="buttonText" column-count=5></chief-table>
	<div class="detailsColomn col-xs-10 col-xs-offset-2" ng-show="selectedWorklist">
		<tabset>
			<tab>
				<tab-heading>Details</tab-heading>
				<form class="col-xs-8 no-padding">
					<table class="table detailTable">
						<tr>
							<td >{{"id" | translate }}:</td>
							<td class="locked">{{ selectedWorklist.id || "none" | translate }}</td>
						</tr>
						<tr>
							<td>{{"worklistname" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedWorklist.name" ng-blur="updateWorklist();" 
								placeholder="<{{'no' | translate}} {{selectedWorklist.name || 'worklistname' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"displayname" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedWorklist.displayName" ng-blur="updateWorklist();" 
								placeholder="<{{'no' | translate}} {{selectedWorklist.displayName || 'displayname' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"category" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedWorklist.category" ng-blur="updateWorklist();" 
								placeholder="<{{'no' | translate}} {{selectedWorklist.category || 'category' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"sequence" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedWorklist.seq" ng-blur="updateWorklist();" 
								placeholder="<{{'no' | translate}} {{selectedWorklist.seq || 'sequence' | translate}}>"></input>
							</td>
						</tr>
					</table>
				</form>
				<div class="col-xs-3 col-xs-offset-1">
					<button class="btn btn-1 btn-1a menuBtn" ng-show="selectedWorklist.id > 0" ng-click="deleteWorklist()">{{"delete" | translate}}</button>
				</div>
			</tab>
			<tab>
				<tab-heading>{{"roles" | translate}}</tab-heading>
				<div class="col-xs-8 no-padding">
					<table class="detailTableChecker">
						<tr><th colspan="2"><h3 class="white">{{"notactive" | translate}}</h3></th></tr>
						<tr ng-repeat="role in roles" ng-show="!selectedWorklist.hasRole(role.id)">
							<td class="toggleCheckbox">
								<section><div class="checkboxThree">
									<input 
										type="checkbox"
										id="{{ role }}"
										data-ng-checked="selectedWorklist.hasRole(role.id)" 
										ng-click="selectedWorklist.toggleRole(role.id)"
									/>
									<label for="{{ role }}" ng-style="checked"></label>
								</div></section>
							</td>
							<!-- <td class="listBox"><input type="checkbox" data-ng-checked="selectedWorklist.hasRole(role.id)" ng-click="selectedWorklist.toggleRole(role.id)"/></td> -->
							<td class="locked"><p class="white">{{ role.name }}</p></td>
						</tr>
					</table>
					<table class="detailTableChecker">
						<tr><th colspan="2"><h3 class="white">{{"active" | translate}}</h3></th></tr>
						<tr ng-repeat="role in roles" ng-show="selectedWorklist.hasRole(role.id)">
							<td class="toggleCheckbox">
								<section><div class="checkboxThree selected">
									<input 
										type="checkbox"
										id="{{ role }}"
										data-ng-checked="selectedWorklist.hasRole(role.id)" 
										ng-click="selectedWorklist.toggleRole(role.id)"
									/>
									<label for="{{ role }}" ng-style="checked"></label>
								</div></section>
							</td>
							<!-- <td class="listBox"><input type="checkbox" data-ng-checked="selectedWorklist.hasRole(role.id)" ng-click="selectedWorklist.toggleRole(role.id)"/></td> -->
							<td class="locked"><p class="white">{{ role.name }}</p></td>
						</tr>
					</table>
				</div>
			</tab>
			<tab>
				<tab-heading>{{"Code" | translate}}</tab-heading>
					<ui-codemirror ui-codemirror-opts="editorOptions"></ui-codemirror>
			</tab>
		</tabset>
	</div>
</div>
<form class="AddNewModalView md-col-8 col-xs-offset-2" ng-show="addNewWorklistView">
	<h3 class="no-padding">{{"new" | translate}} {{"worklist" | translate}}</h3>
	<p class="text white">* {{"required" | translate}}</p>
	<table class="addNewTable md-col-6">
		<tr class="md-col-6">
			<td>* {{"worklistname" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedWorklist.name" name="worklistname" required></td>
		</tr>
		<tr>
			<td>* {{"displayname" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedWorklist.displayName" name="worklistdisplayname" required></input></td>
		</tr>
		<tr>
			<td>{{"category" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedWorklist.category"></input></td>
		</tr>
		<tr>
			<td>{{"sequence" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedWorklist.seq"></input></td>
		</tr>
	</table>
	<div class="col-xs-3 col-md-offset-1">
		<button class="btn btn-1 btn-1a menuBtn" ng-click="saveNewWorklist()">{{"save" | translate}}</button>
		<button class="btn btn-1 btn-1a menuBtn" ng-click="cancelNewWorklist()">{{"cancel" | translate}}</button>
	</div>
</form>