//menu.scss

.mainmenu {
  border: 1px solid $hoverColor;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

.menuIcon{
  font-size: 14px;
  text-align: center;
  width: 50px;
}

p.menuText {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

button.btn.btn-1.btn-1a.menuBtn{
  margin: 0;
  font-size: 20px;
  color: $hoverColor;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 0;
  padding-left: 0px;
  padding-right: 5px;
  transition-duration: 0.2s;
}

button.btn.btn-1.btn-1a.menuBtn:hover{
  background-color: $hoverColor;
  color: $backgroundColor;
}

button.btn.btn-1.btn-1a.menuBtn:active{
}

button.btn.btn-1.btn-1a.menuBtn.selected{
  color: $white;
  font-weight: bold;
  background-color: $mainColor;
}

button.btn.btn-1.btn-1a.menuBtn:focus{
}