<div class="col-xs-2 mainmenu" ng-show="showMenu">
	<section class="color-1" ng-repeat="item in menuItems">
		<button class="btn btn-1 btn-1a menuBtn" ng-class="{selected: item.name === selectedMenu}" ng-click="toggle(item);">
			<p class="menuText">
				<i class="menuIcon" ng-class="item.icon"></i>{{item.name | translate}}
			</p>
		</button>
	</section>
</div>