<div class="header header-default header-static-top" ng-controller="HeaderCtrl">
	<div class="header-header col-xs-12 no-padding">
		<div class="col-xs-3">
			<h3>Semantica <br>DMS</h3>
		</div>
		<div class="col-xs-4">
			<img class="headerIcon col-xs-4" src="../assets/images/chief_icon_reversed.png">
			<h1 class="col-xs-6 no-padding">Chief</h1>
		</div>
		<div class="col-xs-2">
			<p class="white greeting">{{ greetingA | translate }} <br> {{ greetingB }}</p>
		</div>
		<div class="col-xs-3">
			<button class="translate btn btn-1 btn-1a" ng-click="changeLanguage('en');" ng-class="{selected: selectedLanguage === 'en'}">
				<p><i class="fa fa-flag icon"></i>EN</p>
			</button><br>
			<button class="translate btn btn-1 btn-1a" ng-click="changeLanguage('nl');" ng-class="{selected: selectedLanguage === 'nl'}">
				<p><i class="fa fa-flag icon"></i>NL</p>
			</button>
		</div>
	</div>
</div>
