.header{
	width: 100%;
	height:100px;
}

.header.header-default.header-static-top{
	margin: 0;
	background-color: $mainColor;
}

.header{
	border: none;
}

.headerIcon{
	top: 5px;
	height: 80px;  
	width: 80px;
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.icon{
	margin: 0px;
	font-size: 14px;
	text-align: center;
	width: 40px;
}

p.white.greeting{
	padding-top: 26px;
	font-size: 14px;
}

button.translate{
	text-align: left;
	margin: 5px;
	font-size: 14px;
	color: $mainColor;
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 0;
	padding-top:2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	transition-duration: 0.2s;
}

button.translate:hover{
	background-color: $hoverColor;
}

button.translate.selected{
	color: $white;
	font-weight: bold;
	background-color: $backgroundColor;
}

button.translate p{
	color: $white;
}

button.translate:focus{
	outline: 0;
}