.inputBox{
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	width: 100%;
	background-color: $backgroundColor;
	color: $white;
	border: 1px solid $hoverColor;
}