<div class="container">
	<div class="col-md-4"></div>
	<div class="col-md-4 submenu">
		<input class="inputBox" type="text" ng-model="username" placeholder="Username"></input>
		<input class="inputBox" type="password" ng-model="password" placeholder="Password"></input>
		<div class="col-md-8"></div>
		<div class="col-md-4">
			<button class="btn btn-1 btn-1a menuBtn " ng-click="doLogin()"><i class="menuIcon" ng-class="item.icon"></i>Login</button>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>