button.btn.btn-1.btn-1a.addNewBtn {
	margin: 0;
	font-size: 14px;
	color: $hoverColor;
	width: 100%;
	height: 30px;
	text-align: left;
	border-radius: 0;
	transition-duration: 0.2s;

	&:hover{
	  background-color: $hoverColor;
      color: $backgroundColor;	
	}
}

button.btn.btn-1.btn-1a.menuBtnSort{
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  color: $hoverColor;
  text-align: left;
  border-radius: 0;
  transition-duration: 0.2s;

  &:hover{
  	background-color: $hoverColor;
    color: $backgroundColor;
  }

  &:active{
  }

  &.selectedColumn{
  	color: $white;
    font-weight: bold;
    background-color: $mainColor;
  }

  &:focus{
  	outline: 0;
  }
}

div.tableHeaderRow{
	width: 100%;
	height: 35px;

	.headerColumns{
		width: 90%;
		float: left;

		.tableHeader{
			float: left;
		}
	}
}

div.tableResultRow{
	width: 100%;
	height: 35px;
	border-bottom: 1px solid $hoverColor;

	&:hover {
		background-color: $hoverColor;
	}
	& .resultColumns{
		width: 90%;
		float: left;
	}
	&:hover > div > .tableResult {
		color: $backgroundColor;
	}
	&.selected{
		background-color: $mainColor;
		border-bottom: 1px solid $mainColor;
	}
	&.selected > div > .tableResult {
		color: $white;
		font-weight: bold;
	}
	&:focus{
		outline: 0;
	}
	.tableResult {
		height: 35px;
		width: 25%;
		float: left;
		border: 1px solid $hoverColor;
		margin: 0;
		color: $hoverColor;
		text-align: left;
		border: none;
		border-radius: 0;
		transition-duration: 0.1s;
		padding-top: 8px;
		padding-left: 12px;
	}
}

p.menuText {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.searchBox {
	width: 100%;
	color: $white;
	background-color: $backgroundColor;
	border: 1px solid $hoverColor;
	padding-right: 5px;
	padding-left: 5px;
	height: 30px;
	margin-bottom: 15px;
}

.resultsTableHeaders {
	width: 100%;
}

.resultsTableScroller {
	width: 100%;
	max-height: 300px;
	overflow-y: scroll;
	margin-bottom: 15px;
	border: 1px solid $hoverColor;

	&.full{
		height: auto;
	}
}

.tableHeader.checkBoxes {
	width: 5%;
}

.checkBoxes {
	border: 0;
	float: left;
	width: 5%;
	height: 35px;
}

.checkBoxes.selected {
	background-color: $mainColor;
}

.checkBoxes.checkBox {
	padding: 0;
	width: 100%;
	height: 100%;
}

input[type=checkbox] {
	visibility: hidden;
}

.checkboxFour {
	width: 35px;
	height: 35px;
	background: $hoverColor;
	top: 0px;
	left: 0px;
	border-radius: 0;
	position: relative;
}

.checkboxFour.selected {
	background-color: $white;
}

.checkboxFour label {
	display: block;
	width: 31px;
	height: 31px;
	border-radius: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;
	background: $backgroundColor;
}

.checkboxFour input[type=checkbox]:checked + label {
	background: $mainColor;
}

.checkboxThree {
	width: 20px;
	height: 20px;
	background: $hoverColor;
	top: 0px;
	left: 0px;
	border-radius: 0;
	position: relative;
}

.checkboxThree.selected {
	background-color: $white;
}

.checkboxThree label {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;
	background: $backgroundColor;
}

.checkboxThree input[type=checkbox]:checked + label {
	background: $mainColor;
}

.toggleCheckbox{
	width: 40px;
	height: 20px;
}