<div class="col-xs-10">
	<div class="col-xs-12 no-padding">
		<div class="col-xs-7 no-padding">
			<input class="searchBox" ng-model="searchBox" placeholder="Search..."/>
		</div>
		<div class="col-xs-3 col-xs-offset-1 no-padding">
			<button ng-show="addRecord" class="btn btn-1 btn-1a addNewBtn" ng-click="addRecord();"><p class="menuText"><i class="menuIcon fa fa-plus"></i>{{ buttonText | translate }}</p></button>
		</div>
	</div>
	<div class="resultsTableHeaders">
		<div class="tableHeaderRow">
			<div class="tableHeader checkBoxes">
				<button class="btn btn-1 btn-1a menuBtnSort" disabled>#</button>
			</div>
			<div class="headerColumns">
				<div ng-repeat="header in headers" class="tableHeader" ng-style="{'width': columnWidth}">
					<button class="btn btn-1 btn-1a menuBtnSort" ng-class="{'selectedColumn': header.key === currentOrder}" ng-click="orderBy(header.key)">
						{{ header.displayName | translate }}
						<i ng-show="header.key === currentOrder" ng-class="{'fa fa-arrow-up': reverse === true, 'fa fa-arrow-down': reverse === false}"></i> 
						<i ng-hide="header.key === currentOrder" ng-class="'fa fa-sort'"></i> 
					</button>
				</div>
			</div>
			<div class="tableHeader checkBoxes">
				<button class="btn btn-1 btn-1a menuBtnSort" disabled></button>
			</div>
		</div>
	</div>
	<div class="resultsTableScroller" ng-class="{full: !selectedRecord}" ng-style="{'max-height': chiefHeight, 'height': chiefHeight}">
		<div ng-repeat="record in (records | filter: searchBox | orderBy:currentOrder:reverse | emptyToEnd: currentOrder)" 
		class="tableResultRow pointer" ng-class="{selected: record.id === selectedRecord.id || isInArray(record.id, checked)}">
			<div class="checkBoxes">
				<section>
					<div class="checkboxFour" ng-class="{selected: record.id === selectedRecord.id || isInArray(record.id, checked)}">
						<input 
							type="checkbox"
							id="{{ record.id }}"
							ng-model="record.checked"
							ng-click="
								selectRecord({selectedRecord:record});
								toggleChecked(record);
							"
						/>
						<label for="{{ record.id }}" ng-style="checked"></label>
					</div>
				</section>
			</div>
			<div class="resultColumns">
				<div 
					ng-repeat="header in headers" 
					class="tableResult" 
					ng-style="{'width': columnWidth}" 
					ng-click="
						clearChecked();
						selectRecord({selectedRecord:record});
					"
					>
					<span ng-if="header.type !== 'date'">{{ record[header.key] }}</span>
					<span ng-if="header.type === 'date'">{{ record[header.key] | date}}</span>
					
				</div><br>
			</div>
			<div class="checkBoxes">
			</div> 
		</div>
	</div>
</div>
