<div class="submenu">
	<chief-table records="roles" headers="headers" select-record="setSelectedRole(selectedRecord)" selected-record="selectedRole" add-record="openNewRole()" button-text="buttonText" column-count=5></chief-table>
	<div class="detailsColomn col-xs-10 col-xs-offset-2" ng-show="selectedRole">
		<tabset>
			<tab>
				<tab-heading>Details</tab-heading>
				<form class="col-xs-8 no-padding">
					<table class="table detailTable">
						<tr>{{selectedRole}}<tr>
						<tr>
							<td>{{"id" | translate}}:</td>
							<td class="locked">{{ selectedRole.id || "none" | translate}}</td>
						</tr>
						<tr>
							<td>{{"rolename" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedRole.name" ng-blur="updateRole();" 
								placeholder="<{{'no' | translate}} {{selectedRole.name || 'rolename' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"description" | translate }}:</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="selectedRole.description" ng-blur="updateRole();" 
								placeholder="<{{'no' | translate}} {{selectedRole.description || 'description' | translate}}>"></input>
							</td>
						</tr>
						<tr>
							<td>{{"creationdate" | translate }}:</td>
							<td class="locked">
								<input type="date" class="lockedEditBox" ng-model="selectedRole.creationDate" transform-date="" readonly></input>
							</td>
						</tr>
						<tr>
							<td>{{"activationdate" | translate }}:</td>
							<td class="unlocked">
								<input type="date" class="editBox" ng-model="selectedRole.activationDate" transform-date="" ng-blur="updateRole();" ></input>
							</td>
						</tr>
						<tr>
							<td>{{"deactivationdate" | translate }}:</td>
							<td class="unlocked">
								<input type="date" class="editBox" ng-model="selectedRole.deactivationDate" transform-date="" ng-blur="updateRole();" ></input>
							</td>
						</tr>
					</table>
				</form>
				<div class="col-xs-3 col-xs-offset-1">
					<button class="btn btn-1 btn-1a menuBtn" ng-show="selectedRole.id" ng-click="deleteRole()">{{"delete" | translate}}</button>
				</div>
			</tab>
			<tab>
				<tab-heading>{{"users" | translate}}</tab-heading>
				<table class="detailTableChecker">
					<tr><th colspan="2"><h3 class="white">{{"notactive" | translate}}</h3></th></tr>
					<tr ng-repeat="user in users" ng-show="!selectedRole.hasUser(user.id)">
						<td class="toggleCheckbox">
							<section><div class="checkboxThree">
								<input 
									type="checkbox"
									id="{{ user }}"
									data-ng-checked="selectedRole.hasUser(user.id)" 
									ng-click="selectedRole.toggleUser(user.id)"
								/>
								<label for="{{ user }}" ng-style="checked"></label>
							</div></section>
						</td>
						<!-- <td class="listBox"><input type="checkbox" data-ng-checked="selectedRole.hasUser(user.id)" ng-click="selectedRole.toggleUser(user.id)"/></td> -->
						<td class="locked"><p class="white">{{ user.name }}</p></td>
					</tr>
				</table>
				<table class="detailTableChecker">
					<tr><th colspan="2"><h3 class="white">{{"active" | translate}}</h3></th></tr>
					<tr ng-repeat="user in users" ng-show="selectedRole.hasUser(user.id)">
						<td class="toggleCheckbox">
							<section><div class="checkboxThree selected">
								<input 
									type="checkbox"
									id="{{ user }}"
									data-ng-checked="selectedRole.hasUser(user.id)" 
									ng-click="selectedRole.toggleUser(user.id)"
								/>
								<label for="{{ user }}" ng-style="checked"></label>
							</div></section>
						</td>
						<!-- <td class="listBox"><input type="checkbox" data-ng-checked="selectedRole.hasUser(user.id)" ng-click="selectedRole.toggleUser(user.id)"/></td> -->
						<td class="locked"><p class="white">{{ user.name }}</p></td>
					</tr>
				</table>

			</tab>
			<tab>
				<tab-heading>{{"worklists" | translate}}</tab-heading>
				<table class="detailTableChecker">
					<tr><th colspan="2"><h3 class="white">{{"notactive" | translate}}</h3></th></tr>
					<tr ng-repeat="worklist in worklists" ng-show="!selectedRole.hasWorklist(worklist.id)">
						<td class="toggleCheckbox">
							<section><div class="checkboxThree">
								<input 
									type="checkbox"
									id="{{ worklist }}"
									data-ng-checked="selectedRole.hasWorklist(worklist.id)" 
									ng-click="selectedRole.toggleWorklist(worklist.id)"
								/>
								<label for="{{ worklist }}" ng-style="checked"></label>
							</div></section>
						</td>
						<!-- <td class="listBox"><input type="checkbox" data-ng-checked="selectedRole.hasUser(user.id)" ng-click="selectedRole.toggleUser(user.id)"/></td> -->
						<td class="locked"><p class="white">{{ worklist.name }}</p></td>
					</tr>
				</table>
				<table class="detailTableChecker">
					<tr><th colspan="2"><h3 class="white">{{"active" | translate}}</h3></th></tr>
					<tr ng-repeat="worklist in worklists" ng-show="selectedRole.hasWorklist(worklist.id)">
						<td class="toggleCheckbox">
							<section><div class="checkboxThree selected">
								<input 
									type="checkbox"
									id="{{ worklist }}"
									data-ng-checked="selectedRole.hasWorklist(worklist.id)" 
									ng-click="selectedRole.toggleWorklist(worklist.id)"
								/>
								<label for="{{ worklist }}" ng-style="checked"></label>
							</div></section>
						</td>
						<!-- <td class="listBox"><input type="checkbox" data-ng-checked="selectedRole.hasUser(user.id)" ng-click="selectedRole.toggleUser(user.id)"/></td> -->
						<td class="locked"><p class="white">{{ worklist.name }}</p></td>
					</tr>
				</table>

			</tab>
		</tabset>
	</div>
</div>
<form class="AddNewModalView md-col-8 col-xs-offset-2" ng-show="addNewRoleView">
	<h3 class="no-padding">{{"new" | translate}} {{"worklist" | translate}}</h3>
	<p class="text white">* {{"required" | translate}}</p>
	<table class="addNewTable md-col-6">
		<tr class="md-col-6">
			<td>* {{"rolename" | translate }}:</td>
			<td class="unlocked"><input type="text" class="editBox" ng-model="selectedRole.name" name="rolename" required></input></td>
		</tr>
		<tr>
			<td>{{"description" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedRole.description"></input></td>
		</tr>
		<tr>
			<td>{{"activationdate" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedRole.activationDate"></input></td>
		</tr>
		<tr>
			<td>{{"deactivationdate" | translate }}:</td>
			<td><input type="text" class="editBox" ng-model="selectedRole.deactivationDate"></input></td>
		</tr>
	</table>
	<div class="col-xs-3 col-md-offset-1">
		<button class="btn btn-1 btn-1a menuBtn" type="submit" ng-click="saveNewRole()">{{"save" | translate}}</button>
		<button class="btn btn-1 btn-1a menuBtn" ng-click="cancelNewRole()">{{"cancel" | translate}}</button>
	</div>
</form>