<div class="submenu">
	<div class="detailsColomn col-xs-10">
		<tabset>
			<tab>
				<tab-heading>{{"servlet" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in servletSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"email" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in emailSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"office" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in officeSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"storage" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in storageSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"language" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in languageSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"date" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in dateSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"ocr" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in ocrSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"login" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in loginSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
			<tab>
				<tab-heading>{{"advanced" | translate}}</tab-heading>
				<form class="col-xs-12 no-padding">
					<table class="table detailTable">
						<tr>
							<td class="tableheader col-xs-3">{{"parameter" | translate}}</td>
							<td class="tableheader col-xs-5">{{"value" | translate}}</td>
							<td class="tableheader col-xs-4">{{"defaultvalue" | translate}}</td>
						</tr>
						<tr ng-repeat="setting in advancedSettings">
							<td>{{setting.parameter}}</td>
							<td class="unlocked">
								<input type="text" class="editBox" ng-model="setting.value" ng-blur="updateSettings();"></input>
							</td>
							<td class="locked">{{setting.defaultValue }}</td>
						</tr>
					</table>
				</form>
			</tab>
		</tabset>
	</div>
</div>