$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

$mainColor: 		rgb(52, 152, 219);
$backgroundColor: 	rgb(38,50,56);
$hoverColor: 		rgb(118,131,143);
$white: 			rgb(243,243,243);

*:focus {
	outline: 0 !important;
}

p.white{
	color: $white;
}

.icon {
	padding: 5px;
	margin: 5px
}

.italic {
	font-style: italic;
}

h1 {
	text-transform: uppercase;
	color: $white;
	padding: 0;
	margin: 15px;
	font-size: 60px;
}

h3 {
	text-transform: uppercase;
	color: $white;
	margin: 15px;
	font-size: 25px;
	padding-top: 5px;
}

html {
	width: 100%;
	height: 100%;
	background-color: $backgroundColor;
}

body {
	min-width: 1250px;
	height: auto;
	background-color: $backgroundColor;
}

button:focus{
	outline: 0;
}

.container{
	width: 100%;
	padding: 0;
	padding-top: 15px;
	margin: 0;
}

.background{
	background-color: $backgroundColor;
}

.submenu {
	padding: 0;
}

.nav-tabs > li {
	margin-bottom: 0;
}

.no-padding{
	padding: 0 !important;
}

.resultsColomn{
	margin-bottom: -15px;
	margin-bottom: 5px;
}

.resultsTable{
	background-color: $backgroundColor;
	color: $white;
	margin-bottom: 5px;
	margin-right:0;
	border: none;
}

tr.tableHeaderRow {
	border-color: $backgroundColor;
}

.table > tbody > tr > th.tableHeader {
	border: none !important;
	color: $white;
	font-style: italic;
	padding: 0;
	padding-bottom: 5px;
}

tr.tableResultRow{
	border: 1px solid $hoverColor;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	transition-duration: 0.2s;
}

.table.detailTable > tbody > tr.tableResultRow:hover{
	background-color: $hoverColor;
}

.table.detailTable > tbody > tr.tableResultRow.selected{
	background-color: $mainColor;
	border: 0px solid;
}

.table.detailTable > tbody > tr > td {
	border: 1px solid $hoverColor;
	color: $white;
}

.table.detailTableFull > tbody > tr > td {
	border: 1px solid $hoverColor;
	color: $white;
}

.table.detailTableFull {
	width: 100%;
	/*/background-color: red;*/
}

.nav-tabs li a{
	color: $white;
	padding: 10px;
	margin: 0;
	border: none !important;
	transition-duration: 0.2s;
	margin-left: 2px;
	margin-right: 2px;
	border-radius: 0;
	
}

.nav-tabs > li > a {
	border-radius: none;
	
}

.nav-tabs li.active a{
	background-color: $mainColor !important;
	color: $white !important;
}

.nav-tabs li:hover a{
	background-color: $hoverColor;
	border: none !important;
	color: $backgroundColor;
}

.nav-tabs{
	border-bottom: 1px solid $hoverColor;
}

.detailsTable{
	background-color: $backgroundColor;
	color: $white;
	margin-bottom: 5px;
	margin-right:0;
	border: none;
}

.detailsTable div{
	padding-top:5px;
	padding-bottom:5px;
}

.tableDetailRow{
	border: none !important;
	background-color: $backgroundColor;
	text-align: left;
}

.tableDetailRow:hover{
	border: none !important;
	background-color: $backgroundColor !important;
	text-align: left;
}

span.tableDetailA{
	color: $white;
	font-style: bold;
	text-transform: uppercase;
}

span.tableDetailB{
	color: $white;
}

.detailsColomn{
	margin-bottom: 5px;
}

.mainmenu ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.pointer{
	cursor: pointer;
}

button.btn.btn-1.btn-1a.menuBtn2{
	margin: 0;
	font-size: 14px;
	color: $hoverColor;
	width: 100%;
	text-align: left;
	border-radius: 0;
	transition-duration: 0.2s;
}

button.btn.btn-1.btn-1a.menuBtn2:hover{
	background-color: $hoverColor;
	color: $backgroundColor;
}

button.btn.btn-1.btn-1a.menuBtn2:active{
}

button.btn.btn-1.btn-1a.menuBtn2.selectedColumn{
	color: $white;
	font-weight: bold;
	background-color: $mainColor;
}

button.btn.btn-1.btn-1a.menuBtn2:focus{
	outline: 0;
}

button.btn.btn-1.btn-1a.detailBtn{
	margin: 0;
	font-size: 14px;
	color: $hoverColor;
	width: 100%;
	text-align: left;
	border-radius: 0;
	transition-duration: 0.2s;
}

button.btn.btn-1.btn-1a.detailBtn:hover{
	background-color: $hoverColor;
	color: $backgroundColor;
}

button.btn.btn-1.btn-1a.detailBtn:active{
}

.checkboxtop{
	vertical-align: middle;
}

td.tableheader{
	color: $hoverColor !important;
	font-weight: bold;
	font-style: italic;
}

// Component styles are injected through grunt
// injector
@import 'chiefTable/chiefTable.scss';
@import 'login/login.scss';
@import 'roles/roles.scss';
@import 'system/system.scss';
@import 'users/users.scss';
@import 'worklists/worklists.scss';
@import '../components/footer/footer.scss';
@import '../components/header/header.scss';
@import '../components/menu/menu.scss';
@import '../components/modal/modal.scss';
// endinjector
